force-app/main/default/flows/Valida_Tipo_Registro_Chamados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Mensagem_Atribuida</name>
        <label>Mensagem Atribuida</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Msg_Descricao</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registro  {!Get_novo_registro.RecordTypeName__c}  atualizado com sucesso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizaDescricaoChamado</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ErroSolicitacao</name>
        <label>ErroSolicitação</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>&quot;Não é permitido reverter para Solicitação após a conversão para Instalação ou Suporte&quot;</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Não pode retornar para solicitação</description>
        <name>VerificarReclassificacao</name>
        <label>Verificar Reclassificação</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TentativaRetornoSolicitacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solicitação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solicitação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ErroSolicitacao</targetReference>
            </connector>
            <label>Tentativa de Retorno para Solicitação</label>
        </rules>
        <rules>
            <name>AlteracaoPermitidaSolicitacao</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suporte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_novo_registro</targetReference>
            </connector>
            <label>Alteração Permitida em Solicitação</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Valida Tipo Registro Chamados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Valida Tipo Registro Chamados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_novo_registro</name>
        <label>Get novo registro</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mensagem_Atribuida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaDescricaoChamado</name>
        <label>Atualiza Descrição do chamado</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <elementReference>Get_novo_registro.RecordTypeName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Msg_Descricao</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerificarReclassificacao</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Msg_Descricao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
